.modalContainer {
    height: 15rem;
    width: 30rem;
    background-color: rgb(88, 35, 35);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.modalContainer > button {

}