.searchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    font-size: 1.5rem;
    font-family: 'Bona Nova', sans-serif;
}

form {
    display: flex;
    gap: 2rem;
}