.searchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-size: 1.5rem;
    font-family: 'Bona Nova', sans-serif;
}

form {
    display: flex;
    gap: 2rem;

}

form > input {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    outline: auto;
    outline-color: rgb(175, 155, 99);
}


button {
    background-color:  rgba(172, 149, 101, 0.8);
    padding: 0.5rem;
    outline: auto;
    outline-color: rgb(175, 155, 99);
    color: black;
}

button:hover {
    filter: drop-shadow(0 0 0.5rem rgb(175, 155, 99))
}