.headingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
    color: rgb(255, 255, 255); 
    background-color: rgba(22, 22, 22, 0.8); 
    width: 95vw;
}

h1 {
    filter: drop-shadow(0 0 0.7rem rgb(175, 155, 99))
}

.headingContainer > h1 {
    font-weight: 400;
}


// background-color: rgba(252, 217, 164, 0.7); 