@import url('https://fonts.cdnfonts.com/css/bona-nova');

body {
    background-image: url('./assets/books-background.jpg');
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bona Nova', sans-serif;
}

section {
    width: 95vw;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}